@model   IEnumerable<Prj.BusinessLogic.Models.BranchModel>
@using Prj.Utility.Common
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";  
}



<section class="content-header">
    <h1>BRANCH LIST</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>DashBoard</a></li>
        <li class="active">Branch List</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        @*<div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">Tên Garage</label>
                                        @Html.TextBoxFor(model => model.Garage.GarageName, null, new { @class = "form-control", maxlength = 100, placeholder = "Nhập Tên Garage" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        @Html.TextBoxFor(model => model.Garage.Email, new { @class = "form-control", maxlength = 100, placeholder = "Nhập email" })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="">Trạng thái</label>
                                        @Html.DropDownListFor(model => model.Garage.Status, new SelectList(ViewBag.listStatus, "GeneralValue", "GeneralName"), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Thành phố</label>
                                        @Html.DropDownListFor(model => model.Garage.CityId, new SelectList(ViewBag.listCity, "CityId", "CityName"), new { @class = "form-control" })
                                    </div>

                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Quận huyện</label>
                                        @Html.DropDownListFor(model => model.Garage.DistrictId, new SelectList(ViewBag.District, "DistrictId", "DistrictName"), new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <input type="submit" id="btFilter" name="btFilter" class="btn btn-primary filterable" value="Tìm kiếm" />&nbsp;&nbsp;&nbsp;
                                    <input type="button" id="btnGaragesAdd" class="btn btn-warning filterable" value="Thêm mới" />
                                </div>
                                <div class="col-sm-9">&nbsp;</div>
                            </div>
                            <div class="form-horizontal row">
                                <div class="col-xs-6">
                                    <div class="form-inline">
                                        <label id="dtotal" class="totalpadding"> Tổng số dòng:&nbsp; @Model.PageTotal</label>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div id="example1_filter" class="form-inline pull-right">
                                        <label class="control-label">Số dòng/trang:</label>
                                        @{
                                            var data = new List<System.Web.UI.WebControls.ListItem> {
                                                       new System.Web.UI.WebControls.ListItem { Text = "25", Value = "25" },
                                                       new System.Web.UI.WebControls.ListItem { Text = "50", Value = "50" } ,
                                                       new System.Web.UI.WebControls.ListItem { Text = "100", Value = "100" }
                                                   };
                                        }
                                        @Html.DropDownListFor(model => model.PageSize, new SelectList(data, "Value", "Text"), new { @class = "form-control input-sm", onchange = @"form.submit();" })
                                    </div>
                                </div>
                            </div>*@
                        <!-- /.box-header -->
                        <div class="clearfix">
                            <div class="panel panel-primary filterable form-group">
                                <div class="panel-heading">
                                    <button type="button" id="btnAdd" class="btn btn-warning">Thêm mới</button>
                                </div>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr class="filters">
                                            <th class="col-xs-1  text-center">STT</th>
                                            <th class="col-xs-1 text-center">Hiển thị</th>
                                            <th class="col-xs-2 text-center">Name</th>
                                            <th class="col-xs-2 text-center">Address</th>
                                            <th class="col-xs-2 text-center">Control</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{var countSTT = 0;}
                                        @foreach (var item in Model)
                                        {
                                            countSTT++;
                                            <tr>
                                                <td class="text-center">@countSTT</td>
                                                <td class="text-center">@Html.CheckBoxFor(x => item.bActived)</td>
                                               
                                                <td>@item.Name</td>                                              
                                                <td>@item.Address</td>
                                                <td class="text-center">
                                                    <a class="fa fa-fw fa-edit" href="/Admin/Branch/Update/@item.Id" title="Detail Branch"></a>
                                                    <a class="fa fa-trash-o" href="#" onclick="DeleteRow('/Admin/Branch/Delete/' + @item.Id);" title="Delete"></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            @Html.Raw(ViewData["Page"])
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </div>
                                            }
</section>
<script type="text/javascript">
    $(document).ready(function () {
        RedirectFromAdd('btnAdd', '/Admin/Branch/Create');
    });
    function DeleteRow(urlRequest)
    {
        DialogConfirm('Bạn có chắc muốn xóa ?', 1, function () {
            DeleteRowAjax("GET", urlRequest, "/Admin/Branch/Index");
        });
    }
</script>